:root {
  background-image: url(../img/bg1.png);
  /* img {
    width: 100%;
  } */
}

.erfaringBox {
  border: 1px solid white;
  padding: 1.5em;
  background-color: #123e9c;
}

main {
  margin: 10%;
}

/* animation */
.container {
  display: inline-block;
  line-height: 2em;
}

.textanimation1 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing1 7.5s infinite;
  /* animation-duration: 1.5s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.textanimation2 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing2 7.5s infinite;
  /* animation-duration: 1s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  /* animation-delay: 1.5s; */
}

.textanimation3 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing3 7.5s infinite;
  /* animation-duration: 1.5s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  /* animation-delay: 2.5s; */
}

.textanimation4 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing4 7.5s infinite;
  /* animation-duration: 1.5s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  /* animation-delay: 4s; */
}

@keyframes typing1 {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing2 {
  10% {
    width: 0;
  }
  20% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing3 {
  20% {
    width: 0;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing4 {
  30% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

/* button */
.btnText {
  position: relative;
  bottom: 55px;
  left: 50px;
  a {
    text-decoration: none;
    color: white;
  }
}

.btn:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

/* footer */
footer {
  hr {
    color: white;
  }
}
.footerflex {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

/* fonts */

h1 {
  font-family: paytoneOne;
  color: white;
  margin: 0%;
  padding: 0%;
}

.h1_graphic {
  svg {
    margin-top: 2%;
  }
}

h2 {
  font-family: paytoneOne;
  color: white;
  font-size: 50px;
}

h3 {
  font-family: zenDots;
  font-size: 15px;
  color: white;
}

p,
li {
  font-family: josefinSans;
  font-size: 18px;
  color: white;
}

@font-face {
  font-family: josefinSans;
  src: url(../fonts/JosefinSans-Light.ttf);
}
@font-face {
  font-family: paytoneOne;
  src: url(../fonts/PaytoneOne-Regular.ttf);
}
@font-face {
  font-family: zenDots;
  src: url(../fonts/ZenDots-Regular.ttf);
}
