:root {
  background-image: url(../img/bg1.webp);
}
.erfaringHolder {
  border: 1px solid white;
  margin-bottom: 2em;
}
.erfaringBox {
  border: 1px solid white;
  padding: 1.5em;
  background-color: #123e9c;
}
.erfaringText {
  text-align: center;
}

main {
  margin: 0 10% 2% 10%;
}
main img {
  width: 100%;
}

/* animation */
.container {
  display: inline-block;
  line-height: 2em;
}

.textanimation1 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing1 7.5s infinite;
  /* animation-duration: 1.5s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.textanimation2 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing2 7.5s infinite;
  /* animation-duration: 1s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  /* animation-delay: 1.5s; */
}

.textanimation3 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing3 7.5s infinite;
  /* animation-duration: 1.5s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  /* animation-delay: 2.5s; */
}

.textanimation4 {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing4 7.5s infinite;
  /* animation-duration: 1.5s; */
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  /* animation-delay: 4s; */
}

@keyframes typing1 {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing2 {
  10% {
    width: 0;
  }
  20% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing3 {
  20% {
    width: 0;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing4 {
  30% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

/* button */
.btnText {
  position: relative;
  bottom: 55px;
  left: 50px;
}
.btnText a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}
.nextbtn {
  margin: 5% 40% 0 45%;
}
.nextbtn:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

/* header / burger menu */

.menu {
  position: sticky;
  top: 0;
  z-index: 101;
}

.off-screen-menu {
  background-color: white;
  z-index: 99;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  line-height: 2.5em;
  transition: 0.3s ease;
}
.off-screen-menu li {
  list-style-type: none;
}
.off-screen-menu a {
  text-decoration: none;
  color: #595675;
}
.off-screen-menu a:hover {
  text-decoration: underline;
}

.off-screen-menu.active {
  right: 0;
}

nav {
  padding: 1rem;
  display: flex;
  /* background-color: #123e9c; */
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 100;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #595675;
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #595675;
}

/* footer */
.footerline {
  border: 1px solid white;
}
.footerflex {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2%;
}

/* fonts */

h1 {
  font-family: paytoneOne;
  color: white;
  margin: 0%;
  padding: 0%;
}

.h1_graphic svg {
  margin-top: 2%;
}

h2,
.menufont {
  font-family: paytoneOne;
  color: white;
  font-size: 50px;
}

h3,
.zenDots {
  font-family: zenDots;
  font-size: 15px;
  color: white;
}

p,
li {
  font-family: josefinSans;
  font-size: 18px;
  color: white;
}

@font-face {
  font-family: josefinSans;
  src: url(../fonts/JosefinSans-Light.ttf);
}
@font-face {
  font-family: paytoneOne;
  src: url(../fonts/PaytoneOne-Regular.ttf);
}
@font-face {
  font-family: zenDots;
  src: url(../fonts/ZenDots-Regular.ttf);
}
