:root {
  background-image: url(../img/bg1.png);
}

/* fonts */

h1 {
  font-family: paytoneOne;
  color: white;
  /* font-size: 100%; */
  /* font-size: 100px; */
  /* font-size: 3.5vw; */
}

@font-face {
  font-family: josefinSans;
  src: url(../fonts/JosefinSans-Light.ttf);
}
@font-face {
  font-family: paytoneOne;
  src: url(../fonts/PaytoneOne-Regular.ttf);
}
@font-face {
  font-family: zenDots;
  src: url(../fonts/ZenDots-Regular.ttf);
}
