#planet {
  position: relative;
  bottom: 200px;
}
.erfaringBox {
  border: 1px solid white;
  padding: 1.5em;
  background-color: #123e9c;
}

#aboutMe {
  position: relative;
  bottom: 200px;
}

/* botton positioning */
#btn1 {
  margin-left: 60%;
}
#btn2 {
  margin-left: 40%;
}
#btn3 {
  margin-left: 20%;
}
#btngroup {
  position: relative;
  bottom: 250px;
}
#btnAboutMe {
  margin: auto;
  width: 50%;
  position: relative;
  bottom: 150px;
}
