main {
  img {
    width: 100%;
  }
}

.landing_text {
  margin-bottom: 5em;
}
.tema_text {
  margin-bottom: 3em;
}
.new_text {
  margin-bottom: 6em;
  border: 1px solid white;
  padding: 1em;
}
.grid_1-1 {
  margin: 0 2em 0 2em;
}

@media (width>1000px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10em;
    row-gap: 10em;
    margin: 0 10em 0 10em;
  }
  .new_text {
    margin-bottom: 0;
    margin-top: 2em;
    padding: 2em;
  }
  .h1_graphic,
  h1 {
    width: 50%;
  }
  main {
    margin: 5%;
  }
  .tema_text,
  .animationtema_text {
    margin: 10% 35% 5% 35%;
  }
  .btn {
    margin: 0 40% 0 40%;
  }
  .landing_img {
    width: 75%;
    margin: auto;
    display: block;
  }
  .landing_text {
    margin: 2% 20% 0 20%;
  }
  .landing_img,
  .landing_text,
  .tema_text,
  .btn {
    position: relative;
    bottom: 30vh;
  }
  .animationlanding_text {
    margin: 2% 20% 0 20%;
  }
  .animationlanding_img {
    width: 75%;
    margin: auto;
    display: block;
  }
  .animationlanding_img,
  .animationlanding_text,
  .animationtema_text,
  .animationbtn {
    position: relative;
    bottom: 25vh;
  }
}
