/* layout */
main img {
  width: 100%;
}
main {
  max-width: 500px;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.landing_text {
  margin-bottom: 5em;
}
.tema_text {
  margin-bottom: 5%;
}
.new_text {
  margin-bottom: 6em;
  margin-top: 5em;
  border: 1px solid white;
  padding: 1em;
}
.grid_1-1 {
  margin: 0 2em 0em 2em;
}
.landing_grid {
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 10% 40%; */
}
.btn {
  margin: auto;
  width: 50%;
}
.landing_img {
  max-width: 800px;
  margin: auto;
}
.websites_link:hover {
  transform: scale(1.05);
}
.art_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-bottom: 100px;
}
.photo_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-bottom: 100px;
  max-width: 800px;
  justify-content: center;
  margin: auto;
}
.website_img {
  margin-bottom: 150px;
}
/* media queries */
@media (width>1200px) {
  main {
    max-width: 100%;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10em;
    row-gap: 10em;
  }
  .proces {
    margin-bottom: 15em;
  }
  .new_text {
    margin-bottom: 0;
    margin-top: 2em;
    padding: 2em;
  }
  main {
    margin: 0 5% 2% 5%;
  }
  .tema_text {
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 2%;
  }
  .btn {
    margin: 0 50% 0 50%;
  }
  .landing_grid {
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-rows: 150px 600px 150px;
    margin-bottom: 100px;
    .temaH1 {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
    }
    .landing_img {
      max-width: 1000px;
      margin: auto;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .signeimg {
      max-width: 800px;
      margin: auto;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }
  .art_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 100px;
  }
}
